[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ Idea
Comment=IntelliJ IDEA: The Capable & Ergonomic Java IDE by JetBrains
Exec=/opt/idea-IU/bin/idea.sh
Icon=/opt/idea-IU/bin/idea.svg
Path=
Terminal=false
StartupNotify=false
Categories=Utility;Development;IDE;