[Desktop Entry]
Version=1.0
Type=Application
Name=Spring Tools Suite
Comment=Spring Tools 4 for Eclipse
Exec=/opt/sts/SpringToolSuite4
Icon=/opt/sts/icon.xpm
Path=
Terminal=false
StartupNotify=false
Categories=Utility;Development;IDE;