[Unit]
Description=NoVNC Server

[Service]
Type=simple
ExecStart=/usr/local/novnc/utils/novnc_proxy --vnc localhost:5901 --listen 80

[Install]
WantedBy=multi-user.target
