[Desktop Entry]
Name=Eclipse JEE
Comment=Eclipse IDE for Enterprise Java and Web Developers 
Terminal=false
Exec=/opt/eclipse-jee/eclipse
Type=Application
Icon=/opt/eclipse-jee/icon.xpm
MimeType=application/java;application/java-vm;application/java-archive
Categories=Development;IDE